<div class="headerWrapper">
  <header id="header">
    <div class="wrapper">
      <div id="logo" data-content-field="site-title">
        <h1 class="logo-text">
          <a
            href="/"
            data-shrink-original-size="30"
            style="letter-spacing: 0.2em"
          >
            THIS IS WATER
          </a>
        </h1>
        <h2 class="logo-subtitle">YIQING YU</h2>
      </div>
      <div id="topNav">
        <nav class="main-nav" data-content-field="navigation">
          <div class="nav-wrapper">
            <ul class="cf">
              <li class="splash-page-collection">
                <a class="nav-text" href="/">
                  <span> COVER </span>
                </a>
              </li>
              <li class="splash-page-collection">
                <a class="nav-text" href="/pages/nav_cover/filmography.html">
                  <div class="dropdown">
                    <span class="plus">+</span>
                    <span> FILM </span>
                    <div class="dropdown-wrapper">
                      <div class="dropdown-content">
                        <ul>
                          <li>
                            <a
                              class="dropdown-nav-text"
                              href="/pages/film/narrative.html"
                            >
                              <span> Narrative </span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-nav-text"
                              href="/pages/film/documentary.html"
                            >
                              <span> Documentary </span>
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-nav-text"
                              href="/pages/film/experiment.html"
                            >
                              <span> Experimental Cinema </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="splash-page-collection">
                <a class="nav-text" href="/pages/nav_cover/design.html">
                  <div class="dropdown">
                    <span class="plus">+</span>
                    <span> COMMERCIAL </span>
                    <div class="dropdown-wrapper">
                      <div class="dropdown-content">
                        <ul>
                          <li>
                            <a
                              class="dropdown-nav-text"
                              href="/pages/commercial/game.html"
                            >
                              <span> Game Cinematic </span>
                            </a>
                          </li>
                          <br />
                          <li>
                            <a
                              class="dropdown-nav-text"
                              href="/pages/commercial/live_action.html"
                            >
                              <span> Live Action </span>
                            </a>
                          </li>
                          <br />
                          <li>
                            <a
                              class="dropdown-nav-text"
                              href="/pages/commercial/design.html"
                            >
                              <span> Design & CG </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <!-- <li class="splash-page-collection">
                <a class="nav-text" href="/pages/nav_cover/photography.html">
                  <div class="dropdown">
                    <span class="plus">+</span>
                    <span> PHOTOS </span>
                    <div class="dropdown-wrapper">
                      <div class="dropdown-content">
                        <ul>
                          <li>
                            <a
                              class="dropdown-nav-text"
                              href="/pages/photography/goldfish.html"
                            >
                              <span> Gold Fish </span>
                            </a>
                          </li>
                          <br />
                          <li>
                            <a
                              class="dropdown-nav-text"
                              href="/pages/photography/souvenirs.html"
                            >
                              <span> Souvenirs </span>
                            </a>
                          </li>
                          <br />
                          <li>
                            <a
                              class="dropdown-nav-text"
                              href="/pages/photography/ontheroad.html"
                            >
                              <span> On The Road </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </a>
              </li> -->
              <!-- <li class="splash-page-collection">
                <a class="nav-text" href="/pages/blog.html">
                  <span> ART BLOG </span>
                </a>
              </li> -->
              <li class="splash-page-collection">
                <a class="nav-text" href="/pages/about.html">
                  <span> About </span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <nav class="mobile-nav" data-content-field="navigation">
          <div class="hamburger-menu" onclick="openMenu(this)">
            <div class="hamburger1"></div>
            <div class="hamburger2"></div>
            <div class="hamburger3"></div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <nav class="mobile-menu" id="mobMenu">
    <ul>
      <li class="splash-page-collection" id="mobTabTitle">
        <a href="/index.html">COVER</a>
      </li>
      <li class="index-collection">
        <span class="plus" id="mobPlus">+</span>
        <a href="/pages/nav_cover/filmography.html">FILM</a>
        <ul>
          <li class="page-collection" id="mobTab">
            <a href="/pages/film/narrative.html">Narrative</a>
          </li>
          <li class="page-collection" id="mobTab">
            <a href="/pages/film/documentary.html">Documentary</a>
          </li>
          <li class="page-collection" id="mobTab">
            <a href="/pages/film/experiment.html">Experimental Cinema</a>
          </li>
        </ul>
      </li>
      <li class="index-collection">
        <span class="plus" id="mobPlus">+</span>
        <a href="/pages/nav_cover/design.html">COMMERCIAL</a>
        <ul>
          <li class="page-collection" id="mobTab">
            <a href="/pages/commercial/game.html">Game Cinematic</a>
          </li>
          <li class="page-collection" id="mobTab">
            <a href="/pages/commercial/live_action.html">Live Action</a>
          </li>
          <li class="page-collection" id="mobTab">
            <a href="/pages/commercial/design.html">Design & CG</a>
          </li>
        </ul>
      </li>
      <li class="index-collection">
        <span class="plus" id="mobPlus">+</span>
        <a href="/pages/nav_cover/photography.html">PHOTOS</a>
        <ul>
          <li class="page-collection" id="mobTab">
            <a href="/pages/photography/goldfish.html">Gold Fish</a>
          </li>
          <li class="page-collection" id="mobTab">
            <a href="/pages/photography/souvenirs.html">Souvenirs</a>
          </li>
          <li class="page-collection" id="mobTab">
            <a href="/pages/photography/ontheroad.html">On the Road</a>
          </li>
        </ul>
      </li>
      <li class="blog-collection" id="mobTabTitle">
        <a href="/pages/blog.html">ART BLOG</a>
      </li>
      <li class="page-collection" id="mobTabTitle">
        <a href="/pages/about.html">About</a>
      </li>
    </ul>
  </nav>
</div>
